.logo-image {
  height: 50px;
  margin-right: 10px;
}
.title {
  font-family: "Lucida Console", "Courier New", monospace;
  size: 120rem;
  margin-right: 40px;
}

.mat-toolbar.mat-primary {
  background: #333333;
  color: #d9d9d9;
}

button {
  margin: 10px 30px 10px 30px;
}

.flex-div {
  display: flex;
  flex-wrap: wrap;
}
